//Footer

.footer{
    border-top: 1px solid;
    padding: 20px 0;
    .footerMenu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 48px;
        .footerMenu_li{
            text-align: center;
            .footerMenu_icon{
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;                
            }
            .footerText{}
        }
    }
}