.book{
    margin-top: 126px;
    .bookBanner{
        margin: 0 16px;
        h2{}
        .bookBanner_Icon{
            height: 125px;
            background-color: #2e8b57;
        }
    }
    .bookList{}
}