.commentList_title{
    margin: 16px;
    display: flex;
    align-items: center;
    gap: 125px;
    .commentList_back{}
    .commentList_back::after{
        content: url(../../../../public/back.png);
        width: 24px;
        height: 24px;
    }
    h2{
        word-spacing: 0;
        font-size: 24px;
        font-weight: bold;
    }
}


// 코멘트 리스트 scss
.commentBox{
    width: 390px;
    height: 100%;
    padding: 0 16px;
    .headerBox{
        display: flex;
        width: 100%;
        
    }
}