//Main
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent
}

.loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2E8B57;
    animation: loadingfadeIn 0.5s forwards;
}

@keyframes loadingfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//contentTitle
.contentTitle{
    margin: 0 16px 16px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2{
        font-size: 20px;
        font-weight: 600;
        color: #111111;
    }
    button{
        border: none;
        color: #333;
        font-size: 12px;
        background-color: transparent;
    }
}


//banner

.banner{
    margin-top: 24px;
    margin-left: 16px;
    background-color: #2e8b57;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    width: 100%;
    height: 225px;
    
}


//mainContent1

.mainContent1{
}


//mainContent2

.mainContent2{

}

//mainContent3

.mainContent3{
    .c3Category{
        margin-left: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        .c3Category_li:first-of-type{
            >.c3Category_btn{
                color: #111111;
            }
        }
        .c3Category_li{
            .c3Category_btn{
                border: none;
                color: #666;
                font-size: 16px;
                background-color: transparent;
            }
        }
    }
}
